<nav class="fluid-container navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">
        <h1 class="m-2">Posts by User</h1>
    </div>
</nav>
<div class="container user-profile">
    <div class="user-details pt-3">
        <div class="user-pic">
            <img src="<%= @user.photo %>" alt="<%= @user.name %> Profile">
        </div>
        <div class="p-2 border border-dark">
            <h2><%= @user.name %></h2>
            <p class="num-posts">Number of Posts: <%= @user.posts.count %></p>
        </div>
    </div>
    <div class="bio p-1 mt-3 border border-dark">
        <h5>Bio</h5>
        <p><%= @user.bio %></p>
    </div>
    <ul class="posts">
      <% @user.posts.each_with_index do |post, index| %>
        <a href="<%= user_post_path(user_id: @user.id, id: post.id) %>" class="post-view">
            <li class="d-flex flex-column p-2 mt-3 border border-dark">
                <h6>Post#<%= index + 1 %></h6>
                <%= post.title %>
                <div class="num-comments-likes">
                    <p>Comments: <%= post.comments.count %>, Likes: <%= post.likes.count %></p>
                </div>
            </li>
        </a>
        <% if post. comments.any? %>
            <div class="comments p-2 mt-1 border border-dark">
                    <% post.comments.each_with_index do |comment, comment_index| %>
                        <h6><%= comment.author.name %>: <%= comment.text %></h6>
                    <% end %>
            </div>
        <% else %>
            <div class="comments mt-1 fw-light fs-6">
                No comments yet
            </div>
        <% end %>
      <% end %>
    </ul>
    <div class="see-btn">
        <button class="btn btn-outline-dark m-3 btn-sm">pagination</button>
    </div>
</div>
  