<nav class="fluid-container navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">
        <h1 class="m-2">Single Post</h1>
    </div>
</nav>
<div class="container">
        <div class="p-2 mt-1 border border-dark">
            <div class="d-flex justify-content-between ">
                <p>Post #<%= @post.id %> by <%= @user.name %></p>
                <p>Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>
            </div>
            <p><%= @post.title %></p>
            <div>
                <!-- <%= form_with model: @post, url: like_post_path(@post) do |form| %>
                <%= link_to 'Like', like_post_path(@post), method: :post %>

                    <%= form.submit 'Like', class: 'btn btn-outline-dark btn-sm float-start' %>
                <% end %> -->
                <%= form_with model: @post, url: like_post_path(@post), method: :post do |form| %>
                <%= form.button 'Like', class: 'btn btn-outline-dark btn-sm float-start' %>
                 <% end %>
                <a href="<%= add_user_comment_path(user_id: @user.id, post_id: @post.id) %>" class="btn btn-outline-dark ms-2 btn-sm">comment</a>
            </div>
            

        </div>
    <% if @comments.any? %>
        <div class="comments p-2 mt-1 border border-dark">
            <% @comments.each do |comment| %>
                <h6 class="comment-line"><%= comment.author.name %>: <%= comment.text %><h6>
            <% end %>
        </div>
    <% else %>
        <div class="comments mt-1 fw-light fs-6">
            No comments yet
        </div>
    <% end %>
</div>